alchemy_env/
*.json
wandb/
checkpoints/
*.json.gz
*.sh
output_files/
src/models/profile.py
src/models/output_files/
src/saved_models/
src/models/cluster_profile.py
*.yaml

.eggs/*
src/models/cluster_profile.py
*.out
src/explicit_implicit_icl/

src/models/quick_diagnostic.py
src/models/test_args.py
src/models/test_overfitting_fix.py
src/models/test_overfitting_fix_training.py
src/models/test_seq2seq_comprehensive.py

src/data/preprocessed/*
src/data/preprocessed_other/*
src/investigate_loss.py
src/data/preprocessed_separate/
src/data/preprocessed_separate_held_out_exps/
src/data/preprocessed_separate_with_autoregressive/
src/tests/
simple_decoder.py
*.png
test_kde_visualization.py
visualize_encoder_lengths.py
*.pkl
explicit_implicit_icl/
saved_models/
preprocessed_separate_enhanced/
preprocessed_separate_enhanced_qnodes_in_snodes/
generated_data/
generated_data_enhanced/
generated_data_enhanced_qnodes_in_snodes/
held_out_exps_generated_data_draft/
held_out_exps_generated_data/
held_out_exps_generated_data_enhanced/
preprocessed_separate_held_out_exps_enhanced/
implement_gpt2_from_scratch.py
complete_graph_generated_data_enhanced_qnodes_in_snodes/
complete_graph_preprocessed_separate_enhanced_qnodes_in_snodes/
*.npz
src/prompting_experiments/README.md